* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #2d6ca3;
  }
  header {
    width: 100%;
    
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    position: fixed;
    display: flex;
    position: fixed;
    
   
    z-index: 99;
    text-align: center;
    margin-top: 20px;
    margin-left: 300px;
  }
  
  
  
  .nav a {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin: 20px 20px;
    
    
  }
  .nav a:hover{
    background-color: red;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 10px;
    color: #fff;
  }

  .container {
    background-color: orange;
    width: min(90%, 500px);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 4em 2em;
    border-radius: 0.5em;
  }
  button {
    border: none;
    outline: none;
    cursor: pointer;
  }
  .section {
    display: flex;
    gap: 1em;
    justify-content: center;
  }
  .btn {
    padding: 1em 2em;
    border-radius: 0.5em;
    background-color: #3e3f43;
    color:white;
    margin: 10px 10px;
  }
  .btn:hover{
    background-color: red;
  }
  .btn-pomodoro {
    background-color:#3e3f43;
    color: #ffffff;
  }
  .time-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }
  #time {
    text-align: center;
    color: #ffffff;
    font-size: 5em;
    font-weight: 600;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    gap: 2em;
  }
  #btnStart,
  #btnPause,
  #restart {
    padding: 1em 2em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: #ffffff;
  }
  #restart{
    padding: 1em 2em;
    border-radius: 0.5em;
    background-color: #3e3f43;
    color:white;
    margin: 20px 10px;

  }
  #btnStart{
    padding: 1em 2em;
    border-radius: 0.5em;
    background-color: #3e3f43;
    color:white;
    margin: 20px 10px;
  }
  #btnPause{
    padding: 1em 2em;
    border-radius: 0.5em;
    background-color: #3e3f43;
    color:white;
    margin: 20px 10px;
  }
  #btnPause:hover{
    background-color: red;
}

  #restart:hover,#btnStart:hover{
    background-color: red;
  }
  #btnRest {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 2em;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
    margin-top: 25px;
  }