body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
  }
  
  #todo-app {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  #todo-form input[type="text"],
  #todo-form input[type="date"],
  #todo-form textarea,
  #todo-form select {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px);
  }
  
  #todo-form button {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #todo-list,
  #completed-tasks {
    list-style: none;
    margin: 20px 0;
    padding: 0;
  }
  
  #todo-list li,
  #completed-tasks li {
    background: #eee;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  #completed-tasks li {
    background-color: #d4edda; 
  }
  #out{
    float: right;
    
  }
  