body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
  }
  
  #todo-app {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  #todo-form input[type="text"],
  #todo-form input[type="date"],
  #todo-form textarea,
  #todo-form select {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px);
  }
  
  #todo-form button {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #todo-list,
  #completed-tasks {
    list-style: none;
    margin: 20px 0;
    padding: 0;
  }
  
  #todo-list li,
  #completed-tasks li {
    background: #eee;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  #completed-tasks li {
    background-color: #39964f; 
  }
  #out{
    float: right;
    margin-top: 20px;
    
  }

  .container  {
    display:flex;
  }

  

  #habit-form input[type="text"],
  #habit-form input[type="date"],
  #habit-form textarea,
  #habit-form select {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px);
  }
  
  #habit-form button {
    padding: 10px 20px;
    cursor: pointer;
  }
  header {
    width: 100%;
    
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    position: fixed;
    display: flex;
    position: fixed;
    /* z-index: 99; */
    text-align: center;
    margin-left: 470px;
    margin-top: 10px;
  }
  
  
  
  .nav a {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin: 20px 20px;
    
    
  }
  .nav a:hover{
    background-color: red;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 10px;
    color: #fff;
  }
   